{% extends 'base.html.twig' %}

{% block title %}Panier ORIGINEED{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
{% endblock %}



{% block body %}
<body class="back">
{% if cart|length > 0 %}
<div class="container-fluid">

{#<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix unitaire</th>
       <th scope="col">Prix total</th>
    </tr>
  </thead>
  <tbody>#}
  {% for productOrder in cart %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 dimention-content-cart">
            <div class"dimention-content-cart">
            <div class="row">
            <div class="col-4">
                <img src="{{ productOrder.product.picture }}" class="place-picture">
                </div>
                <div class="col-6">
            <h3 class="cart-whith">{{ productOrder.product.title }}</h3>
            </div>
            </div>
        </div>
    </div>
</div>    
    {#<tr>
      <th scope="row">{{ productOrder.product.id }}</th>
      <td>{{ productOrder.product.title }}</td>
      <td>{{ productOrder.quantityInCart }}</td>
      <td>{{ productOrder.product.price }}</td>
      <td>{{ productOrder.product.price * productOrder.quantityInCart }}</td>
            <td>
            <a href="{{ path('cart_remove_product', {'id': productOrder.product.id})}}">Supprimer du panier</a>
            <a href="{{ path('cart_addremoveone', {'id': productOrder.product.id, 'operator': 'more'}) }}">+</a>
            <a href="{{ path('cart_addremoveone', {'id': productOrder.product.id, 'operator': 'less'}) }}">-</a></td>

    </tr>#}
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2 class="text-danger"> Votre panier est vide</h2>
{% endif %}
</div>
<body>
{%  endblock %}
